<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>969211365265-k9mdr26v05ci1bemu83tavht6na2c4ad.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.969211365265-k9mdr26v05ci1bemu83tavht6na2c4ad</string>
	<key>API_KEY</key>
	<string>AIzaSyDWqnyTLZoGAScOHHgn4BLKd4XZ3HY7B74</string>
	<key>GCM_SENDER_ID</key>
	<string>969211365265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rabbitv.app</string>
	<key>PROJECT_ID</key>
	<string>rabbi-tv-9b875</string>
	<key>STORAGE_BUCKET</key>
	<string>rabbi-tv-9b875.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:969211365265:ios:21963f03e843e06668fc30</string>
</dict>
</plist>